<!DOCTYPE html>
<html>
    <head>
        <title>Docker handsonlab</title>
    </head>

    <body>
        <h1>Add value</h1>
        <h2>Please visit the following page <a href="https://8080-cs-1020804010302-default.cs-us-central1-brqy.cloudshell.dev/incomes?authuser=0">https://8080-cs-1020804010302-default.cs-us-central1-brqy.cloudshell.dev/incomes?authuser=0</a> or add 'incomes' after the '/'</h2>
        <form action="/incomes" method="POST">
            <input type="text" name="description" placeholder="description">
            <input type="numeric" name="amount" placeholder="amount">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>